<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
    
    <!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		
		<mapping class="com.swayam.dms.db.model.Complainant" />
		<mapping class="com.swayam.dms.db.model.Complaint" />
		<mapping class="com.swayam.dms.db.model.ComplaintHistory" />
		<mapping class="com.swayam.dms.db.model.ComplaintHistoryId" />
		<mapping class="com.swayam.dms.db.model.ComplaintPriority" />
		<mapping class="com.swayam.dms.db.model.ComplaintStatus" />
		<mapping class="com.swayam.dms.db.model.Complainant" />
		<mapping class="com.swayam.dms.db.model.ComplaintType" />
		<mapping class="com.swayam.dms.db.model.Department" />
		<mapping class="com.swayam.dms.db.model.Employee" />
		<mapping class="com.swayam.dms.db.model.Ward" />
		
	</session-factory>
</hibernate-configuration>